<header class="header">
    <a>
        <img [src]="getLogoSrc()">
    </a>
    <div class="menu-mobile">

        <a routerLink="/" style="animation-delay: 200ms"><span>Home</span></a>

        <a style="animation-delay: 400ms"><span>News</span></a>

        <a style="animation-delay: 600ms"><span>Tests</span></a>

        <a style="animation-delay: 800ms"><span>Interviews</span></a>

        <a style="animation-delay: 1000ms"><span>Parcours</span></a>

        <a style="animation-delay: 1200ms"><span>Contact</span></a>

    </div>
    <div class="menu-reseaux">

        <a>
            <img [src]="getYoutubeSrc()" src="../../../assets/youtube-white.svg">
        </a>

        <a>
            <img [src]="getInstaSrc()" src="../../../assets/instagram-white.svg">
        </a>

        <a>
            <img [src]="getTwitterSrc()" src="../../../assets/twitter-white.svg">
        </a>

        <a>
            <img [src]="getFacebookSrc()" src="../../../assets/facebook-white.svg">
        </a>

    </div>
    <label id="switchMode" class="switch">
        <input (change)="colorBgChange()" type="checkbox" checked>
        <span></span>
    </label>
</header>