<header class="header">
    <a>
        <img src="../../../assets/julien-chieze-logo-white.svg">
    </a>
    <div class="menu-mobile">

        <a><span>Home</span></a>

        <a><span>News</span></a>

        <a><span>Tests</span></a>

        <a><span>Interviews</span></a>

        <a><span>Parcours</span></a>

        <a><span>Contact</span></a>

    </div>
    <div class="menu-reseaux">

        <a>
            <img src="../../../assets/youtube-white.svg">
        </a>

        <a>
            <img src="../../../assets/instagram-white.svg">
        </a>

        <a>
            <img src="../../../assets/twitter-white.svg">
        </a>

        <a>
            <img src="../../../assets/facebook-white.svg">
        </a>

    </div>
    <label class="switch">
        <input type="checkbox" checked>
        <span></span>
    </label>
</header>